/* Navbar styling */

.Brand_Name{
  padding-left: 8%;
}

.Navigation_Links{
  padding-right: 8%;
}

.signup_link{
  padding-right: 25px;
}

/* Banner Image-Background and content */

#banner_image{
padding-top: 75px;
padding-bottom: 50px;
text-align: center;
color: #f8f8f8;
background: url(../images/intro-bg_1.jpg) no-repeat center;
background-size: cover;
height: 600px;
}

.banner_content{
position: relative;
padding-top: 6%;
padding-bottom: 6%;
margin-top: 12%;
margin-bottom: 12%;
background-color: rgba(0, 0, 0, 0.7);
max-width: 660px;
margin-left: auto;
margin-right: auto;
}

/* footer styling*/

footer{
position: fixed;
padding: 10px 0;
background-color: #101010;
color:#9d9d9d;
bottom: 0;
width: 100%;
}

/* Login Page styling */

.Login_Header{
height: 56px;

}

.card-title{
  font-weight: 600;
}

.FORM {
 margin-top: 35%;
 border-width: 2px;
}

.btn-md{
  padding-top: 3px;
  padding-bottom:3px;
}

.CARD_FOOTER{
  height: 56px;
}

/* Products page styling */

.product_card {
  padding:1px 1px 0;

}

.CARD_DECK{
  padding-bottom:2%;
  margin-left: 0;
  margin-right: 0;

}

.product_footer{
  position: static;
}
